NODE_ENV="test"

PORT=3000

JWT_SECRET=

DATABASE_URL="postgresql://userexample:example@localhost:5432/testdb?schema=public"
REDIS_URL=redis://localhost:6379

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=

API_URL=http://localhost:3000
CLIENT_API_URL=http://localhost:5173

CORS_ORIGIN=http://localhost:5173

OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=

GEMINI_API_KEY=dummy
GEMINI_MODELS=dummy

GOOGLE_CLOUD_PROJECT=dummy
GOOGLE_CLOUD_LOCATION=dummy
GOOGLE_GENAI_USE_VERTEXAI=true